{% extends "layout.html" %}

{% block content %}
    <div>
        <h3>Perfil da Episódios</h3>
        <div class="card " style="width: 19.4rem;">
            <div class="card-header">
                <h1 class="h5">{{profile_episodes.name}}</h1>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p> <span class="fw-bold">Data de lançamento: </span>{{profile_episodes.air_date}}</p></li>
                <li class="list-group-item"><p> <span class="fw-bold">Código: </span>{{profile_episodes.episode}}</p></li>
                <li class="list-group-item" ><span class="fw-bold">Personagens:</span>
                {% for episode in profile_episodes.characters %}  
                    {% set idEpisode =  profile_episodes.characters[loop.index -1]|replace("https://rickandmortyapi.com/api/character/", "") %}
                    <a href="/profile/{{idEpisode}}">
                        <p> 
                            {{ episode }}                                                    
                        </p>
                    </a>
                {% endfor %}</li>
            </ul>
         
        </div>
    </div> 
</div>
{% endblock %}
